# LangChain modular stack
langchain-core==0.1.33
langchain-community==0.0.27
langchain-text-splitters==0.0.1

# Vector store + embedding models
chromadb==0.4.22
###faiss-gpu==1.7.2
sentence-transformers==4.1.0
transformers==4.41.2
huggingface_hub==0.23.3

# Document loaders
unstructured==0.10.30
python-docx==1.2.0
pdfminer.six==20221105
pandas==2.2.2
openpyxl==3.1.2

# API and server
fastapi==0.109.2
uvicorn==0.27.1

# Other
numpy==1.26.4
pybind11==2.12.0

